/* Landing Page Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 50px 0;
}

.menu {
  background-color: #333; /* Add background color */
  color: #fff; /* Add text color */
  text-align: center;
  padding: 10px 0; /* Adjust padding */
  position: fixed; /* Fixed positioning */
  width: 100%; /* Full width */
  top: 0; /* Stick to the top */
}

.menu-item {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.menu-item:hover {
  text-decoration: underline;
}
