/* menuStyles.css */

.menu {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: flex-start; 
}

.menu-item {
  color: #fff;
  text-decoration: none;
  margin: 0 30px;
  line-height: 40px;
}

.menu-item:hover {
  text-decoration: underline;
}

/* menu.css */
.container {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1; /* Allow content to grow to fill remaining space */
  padding-top: 20px; /* Add padding to create space between menu and content */
}
